@page "/"

<PageTitle>Share Your Recipes</PageTitle>



<div class="card mb-3">
    <img src="https://media.istockphoto.com/id/1190036539/photo/pasta-casserole-with-tomatoes-and-mozzarella-cheese-in-a-cast-iron-pan.jpg?b=1&s=170667a&w=0&k=20&c=iPbpz032rVCcSLZ3VEk3vE27XTr1B46cL2l3TTWxHJ4=" class="card-img-top" alt="..." >
    <div class="card-body">
        <h5 class="card-title">Welcome to our recipe-sharing platform!</h5>
        <p class="card-text">If you're passionate about cooking and love sharing your favorite recipes with others, you've come to the right place. Our platform is designed to make it easy for you to create, share, and discover new recipes from around the world.

Whether you're a seasoned chef or a beginner cook, our community of foodies is always eager to try out new dishes and share their feedback. From classic family recipes to creative twists on old favorites, our platform offers a diverse range of recipes to suit every taste and occasion.

With our user-friendly interface, you can easily upload your own recipes, and interact with other members of the community.

So, what are you waiting for? Join our community today and start sharing your passion for cooking with the world!</p>
        
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">At our platform, we believe that food is more than just fuel!</h5>
        <p class="card-text"> it's a form of self-expression, a way to connect with others, and a source of joy and comfort. That's why we're dedicated to creating a vibrant community of food lovers who share their love for cooking and eating with each other.

When you join our platform, you'll have access to a wealth of features that will help you connect with other members and share your recipes in new and exciting ways. </p>
        
    </div>
    <img src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVjaXBlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="card-img-bottom" alt="...">
</div>
